@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css?family=Arizonia');
// =====================
// USER BAR
// ---------------------
.nav-container {
  top: 0;
  position: fixed;
}
.userbar {
  color: $eighty-white;
  width: 100vw;
  padding: 5px;
  background: darken($shade-black, 10%);
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.03em;
  border-bottom: 2px solid limegreen;
  @include flex-mix(row, space-between, center);
}
// =====================
// SLIDE NAV BAR
// ---------------------
.slide-nav {
  width: 100vw;
  transition: height 0.4s ease-in-out;
  background-color: darken($shade-black, 10%);
  @include flex-mix(column, flex-start, flex-start);
}
.button-container {
  width: 100%;
  height: 8vh;
  @include flex-mix(row, flex-start, center);
  h3 {
    color: rgba(250, 250, 250, 0.85);
    margin: 7px 0px 0px 16px;
    font-size: 3em;
    font-family: 'Arizonia', cursive;
  }
}
.slide-nav .side-btn {
  border: 1px solid lightgray;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 4px;
  background-color: darken($shade-black, 10%);
  i {
    color: limegreen;
    margin: 0 auto;
    padding: 0;
  }
}
.break {
  width: 100%;
}
.slidenav-menu {
  width: 100vw;
  height: 80%;
  @include flex-mix(column, space-around, flex-start);
  .slide-menu-link {
    text-decoration: none;
    list-style-type: none;
  }
  li {
    color: limegreen;
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    flex-wrap: wrap;
    font-size: 1.5em;
    font-weight: 300;
    border-left: 0.04em solid lightgray;
  }
}
.social-media {
  @include flex-mix(row, space-around, center);
  color: limegreen;
}
.site-links {
  transition: display 2.5s ease-in-out;
  ul {
    height: 70vh;
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
// =====================
// SIDE BAR
// ---------------------
.sidebar {
  width: 12%;
  height: 100vh;
  background: darken($shade-black, 10%);
  border-right: 1px solid limegreen;
  @include flex-mix(column, flex-start, center);
  a {
    text-decoration: none;
    color: black;
  }
}
.logo {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid limegreen;
  h1 {
    color: $shade-black;
    font-size: 100px;
    font-family: 'Arizonia', cursive;
    text-shadow: 4px 4px 1px limegreen;
    padding-right: 35px;
  }
}
.weather {
  color: $eighty-white;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid limegreen;
  @include flex-mix(row, center, center);
  h4 {
    padding: 10px;
    font-weight: 300;
  }
  img {
    margin: 12px;
    height: 40px;
    width: 40px;
  }
}
.menu {
  width: 100%;
  margin-top: 40px;
  .link {
    cursor: pointer;
    padding: 8px;
    font-weight: 300;
    @include flex-mix(row, flex-start, center);
    h5 {
      color: $eighty-white;
      font-size: 90%;
      margin-left: 7px;
    }
  }
}
#circle0 { color: $purple; }
#circle1 { color: $light-blue; }
#circle2 { color: $yellow; }
#circle3 { color: $cool-blue; }
#circle4 { color: $pink; }
#circle5 { color: limegreen; }
#circle6 { color: $orange; }
#circle7 { color: $red; }
#circle8 { color: $naval; }
#circle9 { color: #ffc048; }
#circle10 { color: #1dd1a1; }

